.header
  グループを作成しました
.div
  .wrapper
    .chat
      .chat__side
        .chat__side--top
          %h1 text-user
          .chat__side--icon
            =link_to "/", class:"chat__side--icon" do
              =fa_icon 'edit'
            =link_to "/", class:"chat__side--icon" do
              =fa_icon 'cog'
        .chat__side--bottom
          %h2 test
          %h3 さようなら
          %h2 sample-group
          %h3 hello!
          %h2 example
          %h3 まだメッセージがありません
    .contents
      .contents__title
        .--edit
        =link_to "/", class:"btn" do
          %p.edit Edit
        .__name
          %p.name title
        .--menber
          %p.menber menber
      .contents__text
        %p.text-name test-user a
        %p.text こんにちは！
        %p.text-name test-user b
        %p.text さようなら！
      .contents__form
        %input.message{type:"text", size: "80"}
        %label.image
          =fa_icon 'image'
          %input{type:"file", name:"datafile", id:"filesend"}
        %input.submit_button{type:"submit", name:"submit" ,value:"Send"}
