.wrapper{
  padding: 0;
  margin: 0;
  display:flex;
}
.chat{
  width: 300px;
  &__side{
    display: flex;
    flex-direction: column;
    &--top{
      background-color: #253141;
      height: 100px;
      line-height: 100px;
      width: 260px;
      padding: 0  20px 0;
      display: flex;
      justify-content: space-between;
    }
    &--icon{
    color: $white_color;
    text-decoration: none;
    }
     &--bottom{
       background-color: #2f3e51;
       height: calc(100vh - 100px);
       padding: 0  20px 0;
     }
  }
}

.contents{
  display: flex;
  flex-direction: column;
  &__title{
    background-color: $white_color;
    width: calc(100vw - 300px);
    height: 100px;
    border-bottom: 1px black solid;
    box-sizing: border-box;
    position: relative;
  }
  &__text{
    padding: 46px 0 0;
    height: calc(100vh - 236px);
    background-color: #fafafa;
    width: calc(100vw - 300px);
  }
  &__form{
    height: 90px;
    background-color:#ddd ;
    width: calc(100vw - 300px);
    position: relative;
     .form__message{
      margin: 20px 15px 0 40px;
      padding: 0 10px 0;
      width: 650px;
      height: 50px;
      border: 0;
    }
    .icon{
      font-size:25px;
      position: absolute;
      right: 170px;
      top:30px;
    }
    .form__submit{
      background-color: rgb(135, 142, 235);
      color: $white_color;
      width: 95px;
      height: 50px;
      margin: 20px 0 0 0;
      text-align: center;
      line-height: 50px;
      position: absolute;
      right: 20px;
      top: 0;
    }
  }
}

.hidden{
  display:none;
}

h1{
  font-weight: bold;
  color: $white_color;
  font-size: 16px;
  display: inline-block;
}

.group__name{
  font-size:  15px;
  font-weight: bold;
  color:#fff;
  margin: 20px 0 5px 0;
}
.group__message{
  padding: 0px 0 40px 0;
  font-size: 11px;
  color: #fff;
}

.group a {
  text-decoration: none;
}

p{
  padding: 0 40px 0;
}
.name{
  font-size: 20px;
  color:#333;
  margin: 35px 0 15px 0;
  
}
.menber{
  font-size: 12px;
  color:#999;
}

.edit{
  font-size: 16px;
  border: 1px skyblue solid;
  position: absolute;
  margin: 28px 40px 0 0 ;
  padding: 10px;
  right: 0;
  color: skyblue;
}
.upper-message{
  padding-left: 40px;
  
  display: flex;
  &__date{
    fontextt-size: 12px;
    color: #999;
  }
    &__user-name{
      margin: 0 0 10px 0;
      font-size: 16px;
      font-weight: bold;
      color: #434a54;
  }
}

.lower-message{
  font-size: 14px;
  color: #434a54;
  margin-bottom: 40px;
}
